<header class="page-header">
    <div class="container-fluid">
        <h2 class="no-margin-bottom">Resultado de la Consulta</h2>
    </div>
</header>
<section class="forms">
    <div class="container-fluid">
        <div class="row">

            <!-- Form Elements -->
            <div class="col-lg-12">
                <div class="card">
            
                  
                    <div class="card-body">
                        <table class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th style="width: 2%; text-align:center;">#</th>
                                    <th style="width: 2%; text-align:center;">Número de Proceso</th>
                                    <th style="width: 2%; text-align:center;">Tipo de Proceso</th>
                                    <th style="width: 2%; text-align:center;">Estado</th>
                                    <th style="width: 2%; text-align:center;">Entidad</th>
                                    <th style="width: 15%; text-align:center;">Objeto</th>
                                    <th style="width: 2%; text-align:center;">Departamento y Municipio de Ejecución</th>
                                    <th style="width: 2%; text-align:center;">Cuantía</th>
                                    <th style="width: 2%; text-align:center;">Fecha(dd-mm-aaaa)</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">1</th>
                                    <td>SIP - 001 - 2017</td>
                                    <td>Subasta</td>
                                    <td>Convocado</td>
                                    <td>CAQUETÁ - ALCALDÍA MUNICIPIO DE SOLITA	</td>
                                    <td>ADQUISICION DE EQUIPO DE SONIDO PARA EL MUNICIPIO DE SOLITA-CAQUETA PARA ATENDER LOS DIFERENTES EVENTOS CULTURALES, ARTÍSTICOS DEPORTIVOS Y DEMAS QUE ORGANICE LA ADMINSITRACION MUNICIPAL EN LOS CUALES SEA NECESARIO EL SONIDO	</td>
                                    <td>Caquetá : Solita</td>
                                    <td>$55,000,000	</td>
                                    <td>Fecha Lim. Docs Habilitantes 13-12-2018</td>

                                </tr>
                                <tr>
                                    <th scope="row">2</th>
                                    <td>PMSVF 001 DE 2017</td>
                                    <td>Contratación Mínima Cuantía	</td>
                                    <td>Liquidado</td>
                                    <td>ANTIOQUIA - PERSONERÍA MUNICIPIO DE SAN VICENTE FERRER	</td>
                                    <td>SUMINISTRO DE EQUIPO DE CÓMPUTO, UPS Y ELEMENTOS PARA EL BUEN FUNCIONAMIENTO DE LA OFICINA DE LA PERSONERIA MUNICIPAL DE SAN VICENTE FERRER	</td>
                                    <td>Antioquia : San Vicente	</td>
                                    <td>$3,152,925</td>
                                    <td>Fecha de Liquidación 30-12-2017</td>
                                </tr>
                                
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
           
        </div>
    </div>
</section>
